section.information {
  min-height: 100vh;
  background-color: #2E6F95;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}

div.img-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.img-inf {
  border-radius: 5rem;
  cursor: pointer;
  overflow: hidden;
  flex-basis: 30%;
  position: relative;
}

div.img-1 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_1.jpg");
}
div.img-2 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_2.jpg");
}
div.img-3 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_3.jpg");
}
div.img-4 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_4.jpg");
}
div.img-5 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_5.jpg");
}
div.img-6 {
  height: 42vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/inf_6.jpg");
}

div.img-inf .wrap-inf span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  display: block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  transition: 0.3s linear;
  text-shadow: 8px 5px 5px rgba(0, 0, 0, 0.9);
}

.wrap-inf {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s linear;
}

div.img-inf:hover .wrap-inf,
div.img-inf:hover .wrap-inf span {
  opacity: 1;
}
